<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<head>

</head>
<body>

    <main>

        <div class="container">
            <h1>Profile: <%=data.uList.full_name%></h1>

            <div class="row">
                <div class="col-md-4 offset-md-0 mt-4" >

                </div>

                <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Account Information</h5>
                        <a class="list-group-item list-group-item-action">Name: <%= data.uList.full_name %></a>
                        <a class="list-group-item list-group-item-action">Username: <%= data.uList.username %></a>
                    </div>
                    <br>
                    <!-- <a class="btn btn-outline-danger" href='/logout' role="button">Log out</a>
                    <a class="btn btn-outline-secondary" role="button">Change Password</a> -->
                </div>

              <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Friends</h5>
                          <% data.fList.forEach(friend => { %>
                            <a class="list-group-item list-group-item-action" href="/friendProfile/<%=friend.user_id%>"><%= friend.full_name %></a>
                            <% }); %>
                            
                    </div>
                    <br>
                    <!-- <a class="btn btn-outline-success" href='/friends' role="button">Add Friend</a> -->
                </div>

                

            </div>
        </div>
        
    </main>


</body>
<%- include ('../partials/footer') %>