<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<head>
    <style>
        div.scroll {
          height: 25rem;
          overflow-x: hidden;
          overflow-y: auto;
          text-align: center;
          padding: 20px;
        }
      </style>
</head>
<body>
    <main style="width: 98%;">
        <div class="row">
            <div class="column" style="width: 49%; padding-top: 1%;">
                <div class="list-group" style="width: 75%; height: 80%; background-color: white;" id="friends_d">
                    <h5 class="list-group-item list-group-item-action active"  aria-current="true">Friends</h5>
                    <div class="scroll">
                        <% if(friend.length == 0){ %>
                            <p>People you may know...</p>
                            <% for(var i=0; i < allUsers.length; i++) {%>
                                <form action="add_friend" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" id="userADD" name="userADD" value="<%= allUsers[i].user_id %>">
                                        <button class="list-group-item list-group-item-action" style="display: inline-block; width: 73%; text-align: left;"><%= allUsers[i].full_name %></button>
                                        <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Add</button>
                                    </div> 
                                </form>
                             <% } %>
                        <% }else{ %>
                            <% for(var i=0; i < friend.length; i++) {%>
                                <% if(friend[i].status == "pending"){ %>
                                 <form action="accept_friend" method="POST">
                                     <div class="form-group">
                                         <input type="hidden" id="user_id" name="user_id" value="<%= friend[i].useridb %>">
                                         <button class="list-group-item list-group-item-action" style="display: inline-block; width: 73%; text-align: left;"><%= friend[i].full_name %></button>
                                         <button type="submit" name="accept" id="accept" class="btn btn-primary" style="width: 18%; display: inline-block;" >Accept</button>
                                         <button type="submit" formaction="remove_friend" name="decline" id="decline" class="btn btn-primary" style="width: 5%; display: inline-block; padding-left: 0%; padding-right: 0%;" >X</button>
                                     </div> 
                                 </form>
                                 <% } %>
                              <% } %>
                              <% for(var i=0; i < friend.length; i++) {%>
                                 <% if(friend[i].status == "friends"){ %>
                                     <form action="remove_friend" method="POST">
                                         <div class="form-group">
                                             <input type="hidden" id="user_id" name="user_id" value="<%= friend[i].useridb %>">
                                             <button class="list-group-item list-group-item-action" style="display: inline-block; width: 73%; text-align: left;"><%= friend[i].full_name %></button>
                                             <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Remove</button>
                                         </div> 
                                     </form>
                                  <% } %>
                               <% } %>
                               <% for(var i=0; i < friend.length; i++) {%>
                                 <% if(friend[i].status == "sent"){ %>
                                     <form action="remove_friend" method="POST">
                                         <div class="form-group">
                                             <input type="hidden" id="user_id" name="user_id" value="<%= friend[i].useridb %>">
                                             <button class="list-group-item list-group-item-action" style="display: inline-block; width: 73%; text-align: left;"><%= friend[i].full_name %> (Pending)</button>
                                             <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >X</button>
                                         </div> 
                                     </form>
                                  <% } %>
                               <% } %>
                               <p style="padding-top: 8%;">People you may know...</p>
                                <% for(var i=0; i < allUsers.length; i++) {%>
                                    <form action="add_friend" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" id="userADD" name="userADD" value="<%= allUsers[i].user_id %>">
                                            <button class="list-group-item list-group-item-action" style="display: inline-block; width: 73%; text-align: left;"><%= allUsers[i].full_name %></button>
                                            <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >Add</button>
                                        </div> 
                                    </form>
                                <% } %>
                        <% } %>
                    </div>
                </div>

        

                <script>
                    function display_friends() {
                        var x = document.getElementById("friends_d");
                        var y = document.getElementById("communities_d");
                        if (x.style.display === "block") {
                            y.style.display = "none";
                            x.style.display = "block";
                        }
                        else{
                            x.style.display = "block";
                            y.style.display = "none";
                        }
                    }

                    function hide_friends_card() {
                        document.getElementById("adding_friend").style.display ="none";
                    }

                    function display_friends_card() {
                        var x = document.getElementById("adding_friend");
                        var y = document.getElementById("search");
                        y.style.display = "block";
                        x.style.display = "none";
                    }

                    function close() {
                        var x = document.getElementById("adding_friend");
                        x.style.display = "none";
                    }

                </script>
            </div>
            <div class="column" style="width: 50%; padding-top: 1%;">
                <div class="row">
                    <div class="col">
                        <div class="container-fluid">
                            <form id="search" action="user_search" method="POST">
                                <div class="form-group">
                                    <label for="user">Username</label>
                                    <input type="text" class="form-control" id="user" name="user" aria-describedby="search_help" placeholder="Enter username" style="width: 75%; display: inline-block;">
                                    <button type="submit" class="btn btn-primary" style="display: inline-block;" onclick="display_friends_card()">Search</button>
                                </div>
                            </form>
                            <% if(user != "empty"){ %>
                                <div class="card" style="width: 18rem;" id="adding_friend">
                                    <div class="card-body">
                                        <% if(user == "NOT_FOUND"){ %>
                                            <form id="friend_card" action="remove_friend" method="POST">
                                                <div class="form-group">
                                                    <h5 class="card-title">Could not find user</h5>
                                                    <button formaction="test" aria-label="Close" onclick="close()">Close</button>
                                                </div> 
                                            </form>
                                        <% } else{ %>
                                            <% if(empty == "true"){ %>
                                                <form id="friend_card" action="remove_friend" method="POST">
                                                    <div class="form-group">
                                                        <h5 class="card-title"><%= user.full_name %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
                                                        <button type="submit" class="btn btn-primary">Remove Friend</button> 
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                    
                                                    </div> 
                                                </form>
                                            <% } else if(empty == "pending"){ %>
                                                <form id="friend_card" action="accept_friend" method="POST">
                                                    <div class="form-group">
                                                        <h5 class="card-title"><%= user.full_name %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
                                                        <button type="submit" name="accept" id="accept" class="btn btn-primary" style="width: 35%; display: inline-block;" >Accept</button>
                                                        <button type="submit" formaction="remove_friend" name="decline" id="decline" class="btn btn-primary" style="width: 10%; display: inline-block; padding-left: 0%; padding-right: 0%;" >X</button>
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                    </div>
                                                    
                                                </form>
                                                <% } else if(empty == "sent"){ %>
                                                    <form id="friend_card" action="remove_friend" method="POST">
                                                        <div class="form-group">
                                                            <h5 class="card-title"><%= user.full_name %></h5>
                                                            <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                            <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
                                                            <button type="submit" class="btn btn-primary" style="width: 25%; display: inline-block;" >X</button>
                                                            <button formaction="test" aria-label="Close" onclick="close()">Close</button>                                                        </div>
                                                        
                                                    </form>
                                            <% } else { %>
                                                <form action="add_friend" method="POST">
                                                    <div id="friend_card" class="form-group">
                                                        <h5 class="card-title"><%= user.full_name %></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                                                        <input type="hidden" id="userADD" name="userADD" value="<%= user.user_id %>">
                                                        <button type="submit" class="btn btn-primary">Add Friend</button>
                                                        <button formaction="test" aria-label="Close" onclick="close()">Close</button>
                                                    </div>
                                                    
                                                </form>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
<%- include ('../partials/footer') %>