<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="card mb-3">
    <h3 class="card-header">Your Exercises</h3>
    <div class="card-body">
        <% if (data && data.length > 0) { %>
            <% data.forEach(exercise => { %>
                <h5 id = "name"><%= exercise.exercise_name %></h5>
                <p id = "type">Type: <%= exercise.exercise_type %></p>
                <p id = "muscle">Muscle: <%= exercise.muscle_group %></p>
                <p id = "equipment">Equipment: <%= exercise.equipment %></p>
                <p id = "difficulty">Difficulty: <%= exercise.difficulty %></p>
                <p id = "instructions">Instructions: <%= exercise.instructions %></p>
            <% }); %>
        <% } %>
    </div>

    <div class="card-body">
      <p class="card-text"></p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Looking for more exercises?<li>
      <a class="btn btn-outline-success" href='/addexercise' role="button">Add exercise</a>
    </ul>
    

  </div>

  </div>